@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Carter+One&family=Lobster&family=Luxurious+Roman&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,400;0,500;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{background-color: bisque;
    /* font-family: 'Bevan', cursive; */
    /* font-family: 'Carter One', cursive; */
    /* font-family: 'Lobster', cursive; */
    /* font-family: 'Luxurious Roman', cursive; */
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
}
/* header */
nav{
    display: flex;
    margin-bottom: 40px;
}
.logo{
    flex-basis: 40%;
    font-size: 30px;
    font-weight: bold;
}
.menu{
    flex-basis: 40%;

}
 nav ul{
     margin-top: 20px;
     display: flex;
     flex-direction:row;
     justify-content: flex-end;
     align-self: flex-start;
     gap:30px;
 }
 nav ul li{
     list-style-type: none;
     font-weight: 500;
 }
 .search-addcard{
     margin-top: 20px;
     margin-left: 20px;
 }
 .search-addcard i{
     font-size: 30px;
     letter-spacing: 10px;
     
 }
/*  */
section.infullencer {
    margin-bottom: 80px;
}
.infulencer-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.influlencer-desc{
flex-basis: 45%;
}
.influlencer-desc h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.influlencer-desc p{
    font-family: 'Oswald', sans-serif; 
    margin-bottom: 15px;
}
.btn{
border: none;
padding: 12px 25px;
font-size: 18px;
background-color: #07c16bf7;
color: white;
border-radius: 50px;
}
.btn:hover{
    background-color: blue;
    transition: .5s;
    cursor: pointer;
}
.fas{
    margin-top: 5px;
    font-size: 13px;
}
.infulencer-image{
flex-basis: 45%;
}
.infulencer-image{
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 20px;
}
main {
    background: white;
    padding: 65px;
    width: 1140px;
    margin:  0 auto;
}
/* second sec */
section.horizonta-part {
    margin: 70px 0px;
}
.common-hori{
    border: 1px solid #ddd;
    border-top: none;
    
}
.many-company-logo{
   display: flex;
   padding: 20px;
   justify-content: space-around;
   align-items: center;
   
    
}

/* product section */
section.more-products h1 {
    text-align: center;
    margin: 45px 0;
    font-size: 35px;
}

.single-product-wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    align-content: center;
    justify-content: space-between;
    justify-items: center;
    grid-row-gap: 53px;
}
.single-product{
    border: 1px solid #ddd;
    width: 300px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 30px 5px rgb(233 127 127);
}
.product-image{
   width: 100%; 
}
.product-title{
    margin: 8px 0;
}
.product-price{
    margin-bottom: 5px;
}
.product-rating{
    color: #c5bb04;
    margin-bottom: 5px;
}
.product-rating span{
    margin-left: 15px;
    color: black;
    font-weight: 500;
}
.product-desc{
    font-weight: 600;
    color: rgb(146, 100, 100);
}
h4.more-about {
    text-align: right;
    margin-top: 40px;
    color: chocolate;
}
h4.more-about i{
    margin-left: 10px;
}

/* feature */
.extra-feature{
    margin-top: 50px;
}
.feature-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    align-content: center;
    justify-content: space-between;
    justify-items: center;
}
.feature-desc h1{
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: 30px;
    
}
.feature-desc p{
    margin-bottom: 15px;
    font-size: 20px;

}
.btn2{
    border: none;
    padding: 12px 25px;
    font-size: 18px;
    background-color: #07c16bf7;
    color: white;
    border-radius: 0px;
    }
    .btn2:hover{
        background-color: blue;
        transition: .5s;
        cursor: pointer;
    }
    /* footer */
    .footer{
         width: 1270px;
         margin: 0 auto; 
        background-color: rgb(78, 53, 53);
        color: white;
        text-align: center;

    }
    .footer h2{
        padding-top:40px ;
    }
    .footer p{
        font-size: 13px;
        line-height: 25px;
    }
    .social-icon{
        /* display: inline-block; */
    
    }
    .social-icon i{
        width: 30px;
        height: 30px;
        padding: 5px;
        font-size: 20px;
    }